// SIDEMENU ******************************************************//

.nav-side-menu {
  // overflow: auto;
  font-size: 17px;
  font-weight: 200;
  background-color: #2e353d;
  // width: 300px;
  // height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  // background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: left;
  font-size: 22px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
        .arrow:before{
                  font-family: FontAwesome;
                  content: "\f053";
                  display: inline-block;
                  padding-left:10px;
                  padding-right: 10px;
                  vertical-align: middle;
                  float:right;
            }
      }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #0ea849;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #0ea849;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #0ea849;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
  padding: 0px;
}
.nav-side-menu li a {
  padding-left: 5px;
  text-decoration: none;
  color: #e1ffff;
  margin: 0px;
  display: inline-block;
  height: 100%;
  width: 80%;
  outline: none;
}

.nav-side-menu li a:active, .nav-side-menu li a:focus {
  outline: none;
}

.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
  outline: none;
}

.nav-side-menu li:hover {
  border-left: 3px solid #0ea849;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 992px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    // background-color: #23282e;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }

  .content-wrapper{
    max-height: 100%;
  }
}
@media (min-width: 992px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }

  .nav-side-menu {
    font-size: 17px;
  }

  .content-wrapper{
    height: 100%;
  }

}

body {
  margin: 0px;
  padding: 0px;
  height: 90%;
  min-height: 100%;
}

html {
  height: 100%;
}

.font-staatliches{
  font-family: Staatliches;
}

// SIDEMENU END ******************************************************//

.container-fluid{
  height: 90%;
}

$theme-colors: (
  "primary": #0ea849,
  "secondary": #2e353d,
  "dark": #272a2e,
  "warning": #9124b3,
);

// DASHBOARD CARDS

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

// BUTTONS

.btn.dotted {
  border: 2px dotted grey !important;
}

// POINTERS

.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
.url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}