<form method="post" action="{{ path('manager/tags_affect_delete', {'id': tags_affect.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tags_affect.id) }}">
    <button class="btn">Delete</button>
</form>
