{% extends 'baselayout.html.twig' %}

{% block title %}Edit TagsAffect{% endblock %}

{% block content %}
    <h1>Edit TagsAffect</h1>

    {{ include('tags_affect/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('manager/tags_affect_index') }}">back to list</a>

    {{ include('tags_affect/_delete_form.html.twig') }}
{% endblock %}
