{% extends 'baselayout.html.twig' %}

{% block title %}TagsAffect index{% endblock %}

{% block content %}
    <h1>TagsAffect index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Personne</th>
                <th>Représentation</th>
                <th>TAG</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tags_affect in tags_affects %}
            <tr>
                <td>{{ tags_affect.id }}</td>
                <td>{{ tags_affect.person }}</td>
                <td>{{ tags_affect.performance }}</td>
                <td>{{ tags_affect.tag }}</td>
                <td>
                    <a href="{{ path('manager/tags_affect_show', {'id': tags_affect.id}) }}">show</a>
                    <a href="{{ path('manager/tags_affect_edit', {'id': tags_affect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('manager/tags_affect_new') }}">Create new</a>
{% endblock %}
