{% extends 'baselayout.html.twig' %}

{% block title %}New TagsAffect{% endblock %}

{% block content %}
    <h1>Create new TagsAffect</h1>

    {{ include('tags_affect/_form.html.twig') }}

    <a href="{{ path('manager/tags_affect_index') }}">back to list</a>
{% endblock %}
