<form method="post" action="{{ path('manager/entity_people_delete', {'id': entity_person.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette entrée ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity_person.id) }}">
    <button class="btn btn-danger m-1"><i class="fas fa-times"></i> Supprimer</button>
</form>
