{% extends 'baselayout.html.twig' %}

{% block title %}Fiche de {{ entity_person.name }} {{ entity_person.firstname }}{% endblock %}

{% block content %}
<div class="col">
    <h2><i class="fas fa-users"></i> Fiche de {{ entity_person.name }} {{ entity_person.firstname }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity_person.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity_person.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ entity_person.firstname }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ entity_person.birthdate ? entity_person.birthdate|localizeddate('none', 'none', 'fr', null,'d MMMM Y') : '' }}</td>
            </tr>
            <tr>
                <th>Abonnement Newsletter</th>
                <td>{{ entity_person.newsletter ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ entity_person.postalCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ entity_person.city }}</td>
            </tr>
            <tr>
                <th>Date d'ajout</th>
                <td>{{ entity_person.addDate ? entity_person.addDate|localizeddate('none', 'none', 'fr', null,'d MMMM Y') : '' }}</td>
            </tr>
            <tr>
                <th>Identifiant de données dynamiques</th>
                <td>{{ entity_person.sheetId }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light m-1" href="{{ path('manager/entity_people_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>

    <a class="btn btn-success m-1" href="{{ path('manager/entity_people_edit', {'id': entity_person.id}) }}"><i class="fas fa-edit"></i> Éditer</a>

    {{ include('entity_people/_delete_form.html.twig') }}
</div>
{% endblock %}
