{% extends 'baselayout.html.twig' %}

{% block title %}Fiche du TAG {{ entity_tag.name }}{% endblock %}

{% block content %}
<div class="col">
    <h2><i class="fas fa-tag"></i> Fiche du TAG {{ entity_tag.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity_tag.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity_tag.name }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light m-1" href="{{ path('manager/entity_tags_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>

    <a class="btn btn-success m-1" href="{{ path('manager/entity_tags_edit', {'id': entity_tag.id}) }}"><i class="fas fa-edit"></i> Éditer</a>

    {{ include('entity_tags/_delete_form.html.twig') }}
{% endblock %}
