<form method="post" action="{{ path('manager/entity_performances_delete', {'id': entity_performance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entity_performance.id) }}">
    <button class="btn">Delete</button>
</form>
