{% extends 'baselayout.html.twig' %}

{% block title %}New EntityPerformances{% endblock %}

{% block content %}
    <h1>Create new EntityPerformances</h1>

    {{ include('entity_performances/_form.html.twig') }}

    <a href="{{ path('manager/entity_performances_index') }}">back to list</a>
{% endblock %}
