{% extends 'baselayout.html.twig' %}

{% block title %}Fiche du spectacle {{ entity_show.name }}{% endblock %}

{% block content %}
<div class="col">
    <h2><i class="fas fa-theater-masks"></i> Fiche du spectacle {{ entity_show.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity_show.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity_show.name }}</td>
            </tr>
            <tr>
                <th>Année</th>
                <td>{{ entity_show.year }}</td>
            </tr>
            <tr>
                <th>Identifiant de données dynamiques</th>
                <td>{{ entity_show.sheetId }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light m-1" href="{{ path('manager/entity_shows_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>

    <a class="btn btn-success m-1" href="{{ path('manager/entity_shows_edit', {'id': entity_show.id}) }}"><i class="fas fa-edit"></i> Éditer</a>

    {{ include('entity_shows/_delete_form.html.twig') }}
{% endblock %}
