{% extends 'baselayout.html.twig' %}

{% block title %}Fiche de l'institution {{ entity_institution.name }}{% endblock %}

{% block content %}
<div class="col">
    <h2><i class="fas fa-university"></i> Fiche de l'institution {{ entity_institution.name }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity_institution.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity_institution.name }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>{{ entity_institution.role }}</td>
            </tr>
            <tr>
                <th>Identifiant de données dynamiques</th>
                <td>{{ entity_institution.sheetId }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-light m-1" href="{{ path('manager/entity_institutions_index') }}"><i class="fas fa-arrow-left"></i> Retour</a>

    <a class="btn btn-success m-1" href="{{ path('manager/entity_institutions_edit', {'id': entity_institution.id}) }}"><i class="fas fa-edit"></i> Éditer</a>

    {{ include('entity_institutions/_delete_form.html.twig') }}
</div>
{% endblock %}
